// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addItemToCart{
	color:         blue;
	border-bottom: solid 1px;
	cursor:        pointer;
}
